/* #region main */
html {
    overflow-y: scroll;
    --bd-background-color: #e2e6ea;
    --bd-color: #6d6f71;
    --bd-hover-color: #b0b3b6;
    --navbar-space: 6.25rem;
}

html,
body,
#root {
    flex-direction: column;
    min-height: 100vh;
}

html,
body,
#root {
    display: flex;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    margin: 0;
    padding: 0;

    flex: 1;
}

main {
    /* solo valido para cuando esta presente LoadingOverlay*/
    position: relative;
}

.icon {
    border: 2px solid #8d9092;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* #endregion */

/* #region main */
/* por razones de que me pierdo cuando hay mucho codigo en el componente*/
nav {
    background-color: var(--bd-background-color);
}

nav .logo {
    width: 3.5rem;
    height: 3.5rem;
}

nav .nav-link {
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
}

nav .nav-link:hover {
    background-color: var(--bd-hover-color);
    color: #000;
}

nav .nav-link.button-cart {
    border-radius: 50%;
    margin: 0 1rem 0 auto;
    padding: 0;
}

@media (min-width:992px) {
    nav .nav-link.button-cart {
        order: 9999;
    }

    nav .nav-link.button-user {
        border-radius: 50%;
        margin: 0 !important;
        padding: 0 !important;
    }
}

nav .badge {
    position: absolute;
    top: 55%;
    left: 55%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
    padding: 0;

    font-size: .6rem;
    border-radius: 50%;
}

/* #endregion */

/* #region cart and admin-cart */
.admin-card,
.cart {
    display: grid;
    grid-template-columns: 6.25rem 1fr auto;
    align-items: center;
    margin: 0;
    margin-bottom: 0.75rem;

    width: 100%;
}

.admin-card img,
.cart img {
    width: 5.25rem;
    height: 5.25rem;
    padding: 0.5rem;
    object-fit: contain;
}

.admin-card a,
.admin-card button,
.cart button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0.75rem;
}

.admin-card a,
.admin-card button {
    margin: 0;
    padding: 0;
}

.admin-card a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.admin-card a:hover {
    color: white;
}

.admin-card .card-body,
.cart .card-body {
    overflow: hidden;
    padding: 0.5rem;
}

.admin-card .card-body .card-text,
.cart .card-body .card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
    margin: 0;
}

.admin-card .buttons {
    display: flex;
    gap: 0.25rem;
    padding: 0.75rem;
    justify-content: flex-end;
}

@media (max-width: 540px) {
    .admin-card {
        grid-template-columns: 6.25rem 1fr;
        grid-template-rows: auto auto;
    }

    .admin-card .buttons {
        grid-column: 1 / -1;
        justify-content: center;
        margin-top: 0.5rem;
    }
}

@media (min-width:768px) {
    .summary-cart {
        position: -webkit-sticky;
        position: sticky;
        top: calc(var(--navbar-space) + 0.625rem);
        z-index: 1020
    }
}

/* #endregion */