/* #region main */
html {
    overflow-y: scroll;
}

html,
body,
#root {
    flex-direction: column;
    min-height: 100vh;
}

html,
body,
#root {
    display: flex;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    margin: 0;
    padding: 0;

    flex: 1;
}

/* #endregion */

/* #region not found */
.spinner-border {
    height: 5rem;
    width: 5rem;
}

/* #endregion */

/* #region product */
.card img {
    height: 12.5rem;
    padding: 1.5rem;
    object-fit: contain;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;

    margin-top: 3rem;
    margin-bottom: 6rem;
}

.box {
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .075);

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: transform 0.2s;
    transition-timing-function: linear;
}

/* .box:hover {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
} */

.product-image {
    max-height: 500px;
    object-fit: contain;
    padding: 1.5rem;
    width: 100%;
}

/* #endregion */

/* #region header */
.badge-cart {
    position: absolute;

    bottom: 0;
    left: 100%;
    transform: translate(-75%, 25%);

    display: inline-block;
    padding: 0.35em 0.65em;

    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 9999px;
    background-color: #dc3545;
    color: white;
}

/* #endregion */

/* #region cart */
.cart {
    display: grid;
    grid-template-columns: 100px auto 75px;
    align-items: center;
    margin: 0;
    margin-bottom: 0.75rem;
}

.cart img {
    width: 90px;
    height: 90px;
    padding: 0.5rem;
    object-fit: contain;
}

.cart button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0.75rem;
}

.cart .card-body {
    overflow: hidden;
    padding: 0.5rem;
}

.cart .card-body .card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
    margin: 0;
    /* Añade un poco de espacio alrededor del texto */
}

.cart .card-body button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0;
    font-size: 0.5rem;
}

/* #endregion */